[Desktop Entry]
Type=Application
Name=YT Snatcher
Comment=Snatch audio & video from YouTube
Exec=yt-snatcher
Icon=yt-snatcher
Categories=AudioVideo;Audio;Video;Network;
StartupNotify=false
