[Desktop Entry]
Type=Application
Name=YT Snatcher
Comment=Snatch audio & video from YouTube
Exec=ytdlp-gui
Icon=ytdlp-gui
Categories=AudioVideo;Audio;Video;Network;
StartupNotify=false
