[Desktop Entry]
Type=Application
Name=ytdlp-gui
Comment=Download audio & video from YouTube
Exec=ytdlp-gui
Icon=ytdlp-gui
Categories=AudioVideo;Audio;Video;Network;
StartupNotify=false
